<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          Dashboard
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>

    <mat-card-content>
      Projeto desenvolvido para resolver o desafio técnico proposto pela equipe da Mirante tecnologia onde será desenvolvido o Módulo contabil: Outros Créditos/Débitos
      o projeto contem uma sidebar interativa para navegar entre as rotas propostas (Outros Créditos/Debitos) e o extra que é o dashboard para uma breve apresentação

      <img>
    </mat-card-content>
  </mat-card>
</div>
