.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #FDFEFE;
  color: #058379;
  border-bottom: 2px solid #E5E7EB;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.breadcrumb {
  font-size: 12px;
  font-weight: 500;
}

.content-header {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
