.container-fluid {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.sidebar {
  flex-shrink: 0;
  z-index: 1;
}

.content {
  flex: 1;
  min-width: 0;
  width: auto;
  min-height: 100vh;
}
